<template>
  <component
    v-bind:is="getTopOfBreed"
    :msg="getTopOfBreed.name"
    >
  </component>
</template>

<script>

import KomponenteA from './KomponenteA.vue'
import KomponenteB from './KomponenteB.vue'

export default {
  name: 'ProzessSchritt'
  ,props: {}
  ,components: {
    KomponenteA,
    KomponenteB
  }

  ,computed: {
    getTopOfBreed() {
      /**
      * Ermittelt die Komponente, welche den höchste Erfolgswarscheinlichkeit hat.
      * Fragt den Server nach den Erfolgswahrscheinlichkeiten.
      * Zeit die Komponente nach ihren Wahrscheinlichkeiten an.
      */

      //todo axios post einbauen, der die erfolgswarscheinlichkeit ermittelt

      //todo komponente anzeigen so wie warhscheinlich

      return KomponenteB
    }
  }
  ,data() {
    return {
        verfügbareKomponenten: [
            {
                id: 1
                ,erfolg: 0.5
                ,komponente: KomponenteA
            }
            ,{
                id: 2
                ,erfolg: 0.5
                ,komponente: KomponenteB
            }
        ]
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
